
.banner {
    height:80px;
    background-color: rgb(46, 142, 252);
    background-image: url(img/pattern.png);
    background-size: 17%;
    color: white;
}

.banner :last-child {
    font-size: 30px;
}

h1 {
 font-size: 30px;
}

section > p {
    color: gray;
    font-size: 15px;
}

.credits {
    font-size: 12px;
}

table {
    border-collapse: collapse;
}

td {
    height: 35px;
}

thead {
    color: white;
    background-color: rgb(135, 175, 250);
    text-align: left;
}

.first-row, .third-row > td {
    background-color: lightblue;
}
