* {
    box-sizing: border-box;
}

.banner {
    height:80px;
    background-color: rgb(46, 142, 252);
    background-image: url(img/pattern.png);
    background-size: 17%;
    color: white;
}

.banner :last-child {
    font-size: 30px;
}

h1 {
 font-size: 30px;
}

.container {
    width: 80vw;
    margin: auto;
}

section > p {
    color: gray;
    font-size: 15px;
}

.credits {
    font-size: 12px;
}

table {
    border-collapse: collapse;
}

td {
    height: 35px;
}

thead {
    color: white;
    background-color: rgb(135, 175, 250);
    text-align: left;
}

.first-row, .third-row > td {
    background-color: lightblue;
}

footer .container > p {
    color: grey;
}

#monitor {
    background-image: url(img/monitor.jpg);
    color: white;
    width: 300px;
    height: 200px;
}

#graph {
    background-image: url(img/graph.jpg);
    color: white;
    width: 300px;
    height: 200px;
}

#graph > p {
    margin: 5px;
    padding: 10px;
    font-weight: bold;
}

#monitor > p {
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

